<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
    
</head>


<body>
 
  <nav class="navbar">
    
   <a href="file:///C:/Users/Diogo/Desktop/Estudo.php/templates/login.html"><img src="file:///C:/Users/Diogo/Downloads/DALL%C2%B7E%202024-11-25%2018.47.10%20-%20A%20logo%20design%20for%20'ECOMUNITARIO'%20featuring%20a%20clean,%20modern%20look%20with%20eco-friendly,%20sustainable%20themes.%20The%20logo%20should%20use%20shades%20of%20green%20and%20earthy%20.webp" alt="imagem de cadastro" class="img-Cadastro"></a> 

    <ul>
  <li><a href="file:///C:/xampp/htdocs/formulario-ecomunitario/Estudo.php/templates/home.html">Home</a></li>
  <li><a href="http://localhost/formulario-ecomunitario/Estudo.php/formulario.php">Cadastre-se</a></li>
  <li><a href="file:///C:/xampp/htdocs/formulario-ecomunitario/Estudo.php/templates/login.html">Login</a></li>
  <li><a href="#">Contato</a></li>


    </ul>

  </nav>



     <div class="tela-login">
      <img src="file:///C:/Users/Diogo/Downloads/DALL%C2%B7E%202024-11-25%2018.47.10%20-%20A%20logo%20design%20for%20'ECOMUNITARIO'%20featuring%20a%20clean,%20modern%20look%20with%20eco-friendly,%20sustainable%20themes.%20The%20logo%20should%20use%20shades%20of%20green%20and%20earthy%20.webp" alt="imagem de login" class="img-login"> 
      <h1>Login</h1>
    <input type="text" placeholder="Login" class="input-login">
      <br>
      <br>
    <input type="password" placeholder="Senha" class="input-login" >
    <input type="checkbox" class="checkbox-login">
    <a href="file:///C:/xampp/htdocs/formulario-ecomunitario/Estudo.php/templates/redefinir-senha.html" style="text-decoration: none"><h6 class="h6-login">Esqueceu a senha?</h6></a>
    <a href="file:///C:/xampp/htdocs/formulario-ecomunitario/Estudo.php/templates/home.html"><button class="button-login" >Entrar</button></a>

    </div>

  <div class="footer">
 

    <div>
    <ul>

    <a href="https://www.linkedin.com/in/diogo-bezerra-a75986289/"><li> <i class="bi bi-linkedin"></i></li></a>
    <a href="https://www.instagram.com/"><li><i class="bi bi-instagram"></i></li></a>
    <a><li></li></a>
    <a><li></li></a>
  
    </ul>
  </div>


  </div>


    

</body>


 




</html>